*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    color: white;
    padding: 10px;
}

.naglowek{
    background-color: orange;
}

.diw{
    background-color: green;
}

.akapit1{
    background-color: blue;
}

.akapit2{
    background-color: purple;
}

.zmianaStyliDiva{
    background-color: blue;
    color:yellow;
    font-size: 64px;
}